{%- import 'apostrophe-ui:components/buttons.html' as buttons -%}
{% if (data.workflowMode == 'live') and data.siteReview.review %}
  <div class="apos-site-review-menu" data-apos-site-review-menu>
    {% if data.siteReview.unreviewed %}
      <div class="apos-button apos-button--group">
        {{ buttons.inGroup('Approve Review', { action: 'site-review-approve' }) }}
        {{ buttons.inGroup('Reject Review', { action: 'site-review-reject' }) }}
      </div>
    {% else %}
      <div class="apos-button apos-button--group">
        {{ buttons.disabled('Reviewed', { action: 'site-review-reviewed' }) }}
        {{ buttons.inGroup('Review Next', { action: 'site-review-next' }) }}
      </div>
    {% endif %}
  </div>
{% endif %}
