{%- import 'apostrophe-ui:components/buttons.html' as buttons -%}
{% macro percentage() %}
{{ buttons.disabled(
  (
    ((data.siteReview.review.reviewed / data.siteReview.review.total) * 100) | round(2)
  ) + '%', 
  { action: 'review-percentage' }
) }}
{% endmacro %}
{% if (data.workflowMode == 'live') and data.siteReview.review %}
  <div class="apos-review-menu" data-apos-review-menu>
    {% if data.siteReview.unreviewed %}
      <div class="apos-button apos-button--group">
        {{ percentage() }}
        {{ buttons.base(
          'Modified',
          { action: 'review-modified' },
          'apos-review-modified apos-button--in-group'
        )}}
        {{ buttons.inGroup('Approve Review', { action: 'review-approve' }) }}
        {{ buttons.inGroup('Reject Review', { action: 'review-reject' }) }}
      </div>
    {% else %}
      <div class="apos-button apos-button--group">
        {{ percentage() }}
        {{ buttons.disabled('Reviewed', { action: 'review-reviewed' }) }}
        {{ buttons.inGroup('Review Next', { action: 'review-next' }) }}
      </div>
    {% endif %}
  </div>
{% endif %}
